In [1]:
#Python  /Topic/  Function

In [2]:
def info():
    print("Ghost")
info()

Ghost

In [4]:
def sum_three(a,b,c):
    print(a+b+c)
sum_three(20,30,40)
sum_three(30,40,50)

90
120

In [7]:
def sum_three(a=5,b=5,c=8):
    print(a+b+c)
sum_three()

18

In [10]:
def sum_Three(a=5,b,c=9):
    sum = a+b+c
    print(sum)
sum_three(a,54,c)

SyntaxError: parameter without a default follows parameter with a default (3049542640.py, line 1)

In [11]:
#Argument // 
#1.Positiona agrument, 
def information (name, age, ht):
    print(name,age,ht)
information("gulsan",28, 170.5)

gulsan 28 170.5

In [15]:
def information (name, age, ht):
    print(f"Hellow my name is {name},also my age is {age}, and my ht is {ht}")
name = input("Enter ur Nane")
age=int(input("Enter your age"))
ht=float(input("Enter ht"))

information(name,age,ht)

Enter ur Nane aja
Enter your age 24
Enter ht 4.5

Hellow my name is aja,also my age is 24, and my ht is 4.5

In [16]:
#2.Keyword Argument
def inform(name,age,ht):
    print(f"Hello my name is {name},also my age is {age},and my ht is {ht}")
inform(age=27,ht=3.4,name="ajay")

Hello my name is ajay,also my age is 27,and my ht is 3.4

In [18]:
def print_num(s):
    for i in s:
        print(i)
print_num("rohan","56")

TypeError: print_num() takes 1 positional argument but 2 were given

In [20]:
# Star Args arbertart args 
def print_num(*s):
    for i in s:
        print(i)
print_num("rohan","56")
print_num("rohan","56",354,2.4)

rohan
56
rohan
56
354
2.4

In [22]:
#
def info(**s):
    print(s)
info(name="Jay",ht=23.5, age =32, add="UP")
info(name="KOT",ht=3.5, age =42, add="UPR")

{'name': 'Jay', 'ht': 23.5, 'age': 32, 'add': 'UP'}
{'name': 'KOT', 'ht': 3.5, 'age': 42, 'add': 'UPR'}

In [26]:
   
def sum_list(d):
    sum =0
    for i in d:
        sum =sum + i 
    print(sum)
sum_list([45,89,90,23])

247

In [29]:
# wap to print cubic root of integer and sqroot of str in which integer is store from a lsit using function
# e = ["45","67",23,90,21,12,34,"43","657",87]


def cube_list(lst):
    for item in lst:
        if isinstance(item, int):   # Integer â†’ Cube root
            print(f"Cubic root of {item} = {round(item ** (1/3), 3)}")
        elif isinstance(item, str): # String â†’ Square root
            num = int(item)
            print(f"Square root of {item} = {round(math.sqrt(num), 3)}")

# Given list
e = ["45","67",23,90,21,12,34,"43","657",87]

# Call the function
cube_list(e)

NameError: name 'math' is not defined

In [31]:
# wap to print cubic root of integer and sqroot of str in which integer is store from a lsit using function
# e = 
def cubic_sq_root_int_str(e):
    cubic=[]
    sqroot=[]
    for i in e:
        if type(i)==int:
            cubic.append(i**0.33)
        else:
            sqroot.append(int(i)**0.5)
    print(cubic,sqroot)
cubic_sq_root_int_str(["45","67",23,90,21,12,34,"43","657",87])

[2.8142986728854633, 4.4146881228468535, 2.7310670795288075, 2.2705434189009517, 3.2017546034771835, 4.365573990994484] [6.708203932499369, 8.18535277187245, 6.557438524302, 25.632011235952593]

In [32]:
#Wap to print counting of each n every characater from a strin using dictionary n fucntion 
# Function to count characters
def char_count(s):
    d = {}  # empty dictionary
    for ch in s:
        if ch in d:
            d[ch] += 1   # increment count if already present
        else:
            d[ch] = 1    # add new character with count 1
    return d

# Example string
text = "hello world"

# Call the function
result = char_count(text)

# Print result
print("Character counts:")
for k, v in result.items():
    print(f"{k} : {v}")

Character counts:
h : 1
e : 1
l : 3
o : 2
  : 1
w : 1
r : 1
d : 1

In [33]:
def count_ch(s):
    dicts={}
    for i in s :
        dicts[i]=s.count(i)
    print(dicts)
count_ch("tanmay")

{'t': 1, 'a': 2, 'n': 1, 'm': 1, 'y': 1}

In [36]:
# s=["455558","3445","56","55","98","12","44"]
# sum >>odd >>cube
# even >>sq
# using function
def count_ch(s):
    odd={}
    even={}
    for i in s:
        sum= 0
        s= int(s)
        odd=s//2
    print(odd ,"number")
count_ch(["455558","3445","56","55","98","12","44"])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [1]:
#Comments / So for multiple lines are not possible in comments 
#Variable /are containers for future use . // Dynamice Typing and Dynamic Binding 
#in C lang
# int a = 5
name = 'Nitesh'

print(name)

Nitesh

In [2]:
name = 4
print(name)

4

In [3]:
#One variable contain multiple data type is called Dynamic Binding 

name = True
print(name)

True

In [4]:
#Special Sysntax 

a =5;b=6;c=6
print(a)
print(b)
print(c)

5
6
6

In [6]:
#Take Input from user 
a=input("Enter your name")
print(f" hello ajay {a}")

Enter your name tiwari

 hello ajay tiwari

In [7]:
input()

''

In [9]:
input(prompt = "Apna Nam Bata ")

Apna Nam Bata  ajay

'ajay'

In [13]:
first_num = input("enter First Number:")  # isem input alway koi bhi value ko string leta hai 
second_num = input("Enter Second number:")# ager humne pahle hi declare nahi kiya hai to 
sum = int(first_num) + int(second_num)
print(type(sum))
#Implicity and Explicity type conversion 
#first Implicity type conversion 
#let see

enter First Number: 44
Enter Second number: 4

<class 'int'>

9.5

In [14]:
4.5+5

9.5

In [15]:
4.5+4+4j

(8.5+4j)

In [19]:
# Literal /
#Numerical Litrals
#Boolean lit
#Spcecial Literals 
#String Litrals
#///
#Numeric Literals

a = 0b1010 # Binary lit
b = 100 #deciamal literal
c = 0o310 #Octal Literal 
d = 0x12c #Hexadecimal Literal 

#float Literal 
float_1=10.5
float_2=1.5e2
float_3=1.5e-3

#Complex Literal
x = 3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [22]:
#String Litral 
string = 'This is python'
strings="this is Python"
char ="c"
multiline_str ="""This is a multiline string iwth more than one line code ."""
unicode = u"\U0001f600"
raw_str = r"raw \n string"
print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
this is Python
c
This is a multiline string iwth more than one line code .
ðŸ˜€
raw \n string

In [23]:
#Boolean lit
a = True +4
b = False +10
print("a:" , a )
print("b:", b)

a: 5
b: 10

In [25]:
#to use for declare variable but not to assiging any value 
a = None
print(type(a))
print(a)

<class 'NoneType'>
None

In [27]:
#Operators /
#Arithematice operatieros.
#cOMPARISON OPERATORS
#lOGICAL OPERATORS
#ASSIGNMENT OPERATORS
#IDENTITY oPERATORS
#mEMBERSHIP OPERAOTRS

In [28]:
x=5
y=4

In [29]:
print(x/y)
print (x+y)
print(x//2)
print(x**y)
print(x%y)

1.25
9
2
625
1

In [30]:
print (x<y)

False

In [31]:
print(x==y)

False

In [32]:
print(x>y)

True

In [33]:
print(x != y)

True

In [34]:
print( x or y)

5

In [35]:
print(x and y)

4

In [36]:
print( x & y)

4

In [37]:
print(x >>2)

1

In [44]:
#Assignment 
a = 3
print(a)
a -= 3
print(a)
a += 3
print(a)
a &= 3
print(a)

3
0
3
3

In [47]:
a = 4
b = 4 
print(a is b)

False

In [48]:
a = "Hello"
b = "Hello"
print(a is b)

True

In [49]:
a = [1,2,3]
b = [1,2,3]
print(a is b)

False

In [60]:
#Membership Operator
x = "Delhi"
print("D" not in x)

False

In [54]:
x = (1,2,3)
print(5 in x)

False

In [61]:
#if else statement in python |Nested If-else | Day 7 |

In [69]:
email = input("Apna email bata")
if '@' in email:
    password = input("Apna Password bhi bata")
    if email == "ajaytripathi@gmail.com" and password == "1234":
        print("Welcome")
    elif email == "ajaytripathi@gmail.com" and password != "1234":
        print("password Incorrect")
        password = input("Password fir se bol")
        if password == "1234":
            print("Finally correct")
        else:
            print("Still Incorrect")
    else:
        print("Incorrect Credentials")

Apna email bata ajaytripathigmail.com

In [72]:
#If else and Indentation #
#Indentation in Python
set()
print(type(set()))

<class 'set'>

In [74]:
list1 = [1,2,3,4]
list2= [2,4,5,6]
lsit3=[2,6,7,8]
result = list()
result.extend(i for i in list1 if i not in (list2+list3) and i not in result)
result.extend(i for i in list2 if i not in (list1+list3) and i not in result)
result.extend(i for i in list3 if i not in (list1+list2) and i not in result)
print(result)

NameError: name 'list3' is not defined

In [75]:
{a**2 for a in range (4)}

{0, 1, 4, 9}

In [78]:
 
4+3%5

7

In [79]:
def addItem(listParam): 
   listParam += [1] 
mylist = [1, 2, 3, 4]
addItem(mylist)
print(len(mylist))

5

In [80]:
string = "my name is x"
for i in string.split():
    print (i, end=", ")

my, name, is, x,

In [81]:
2**3**2

512

In [4]:
#Labda in python Function 
def cal_sum(a,b):
    sum = a + b
    print(sum)
     
cal_sum(5,20)
cal_sum(5,50)

25
55

In [6]:
def cal_sum (a,b):
    return a+b

sum = cal_sum(1,2)
print(sum)

3

In [9]:
# def print_hello(): #Function another example 
#     print("Hello")
# print_hello()

Hello

In [13]:
output = print_hello()
print(output)

Hello
None

In [ ]:
#Built in function 
#User Defined Function 
#Defaut Function  cal_prod(a=4,b=2) so it means it is default value

In [9]:
#waf to pritn the length of a list. (list is the parameter)
citys = ["delhi","haryana","MP","UP"]
heroes = ["RekhaGupta","Nayabsingh","BhajanLalSharma","YogiAdityanath"]
def print_len(list):
    print(len(list))

def print_list(list):
    for item in list:
        print(item, end=" ")
print_list(heroes)
print_len(citys)

RekhaGupta Nayabsingh BhajanLalSharma YogiAdityanath 4

In [ ]:
#