In [2]:
a = 1 
while a <= 10:
    print(a, end=" ")
    a=a+1

1 2 3 4 5 6 7 8 9 10

In [3]:
for i in range (1,21):
    print(i , end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
a = 20 
while a>=1:
    print(a,end=" ")
    a=a-1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [24]:
for i in range(1,20,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [25]:
#Wap to print ur name is sqapcase 15 times but only print odd index name ,
name = input("Enter your name: ")
a=1
while a<=15:
    print(name.swapcase(),a)
    a=a+2

Enter your name:  Kannu

kANNU 1
kANNU 3
kANNU 5
kANNU 7
kANNU 9
kANNU 11
kANNU 13
kANNU 15

In [29]:
#wap to print ur name upper case along with that print it  10 times when we get enen index.
name = input("Enter your name ")
a = 0
while a <= 10:
    print(name.swapcase(),a)
    a=a+2

Enter your name  kannue

KANNUE 0
KANNUE 2
KANNUE 4
KANNUE 6
KANNUE 8
KANNUE 10

In [31]:
name  = input("enter your name ")
for i in range(1,4,2):
    print(name.swapecase,end=" ")

enter your name  Kannu

AttributeError: 'str' object has no attribute 'swapecase'

In [42]:
s=[34,78,34,32,31,33,78,32,78]
a=0
while a < len(a):
    if s[a] %  2 != 0:
        print(s[a],end="")
        a+=1

TypeError: object of type 'int' has no len()

In [43]:
for i in  s :
    if i%2!=0:
        print(i)

31
33

In [44]:
for i in range (0,len(s)):
    if s[i]%2!=0:
        print(s[i])

31
33

In [45]:
a = 0
while a < len (s):
    if s[a]%2!=0:
        print(s[a])
    a=a+1

31
33

In [46]:
#s=[34,78,34,32,31,33,78,32,78]
a = 0
while a < len(s):
    if a % 2 == 0:         
        print(s[a], end=" ")
    a=a+ 1

34 34 31 78 78

In [47]:
for i in range(0,len(s)):
    if i%2==0:
        print(s[i])

34
34
31
78
78

In [49]:
#Wap to print sq of even number and cube of odd number form a list also print seperately fo rboth sq n cube.
odd = []
even=[]
for i in s:
    if i%2==0:
        even.append(i**2)
    else:
        odd.append(i**3)
print("Even Sq", even,"Odd Cube",odd)

Even Sq [1156, 6084, 1156, 1024, 6084, 1024, 6084] Odd Cube [29791, 35937]

In [ ]:
odd = []
even=[]
a = 0
while a < len(s):
    if s[a]%2==0:
        even.append(s[a]**2)
    else:
        odd.append(s[a]**3)
print("Even Sq", even,"Odd Cube",odd)

In [4]:
# Wap to print sq of even number and cube of odd number form a list also print seperately for both sq n cube.
numbers=[34,78,34,32,31,33,78,32,78]
even =[]
odd=[]
for i in range(len(numbers)):
    for j in range(i+1, len(numbers)):
        if number.len//2 == 0:
            
        
        # if numbers[i] > numbers[j]:
        #     print(f"{numbers[i]} bada hai {numbers[j]} se")
        # elif numbers[i] < numbers[j]:
        #     print(f"{numbers[i]} chhota hai {numbers[j]} se")
        # else:
        #     print("Dono barabar hain")

34 aur 78 ka comparison:
34 aur 34 ka comparison:
34 aur 32 ka comparison:
34 aur 31 ka comparison:
34 aur 33 ka comparison:
34 aur 78 ka comparison:
34 aur 32 ka comparison:
34 aur 78 ka comparison:
78 aur 34 ka comparison:
78 aur 32 ka comparison:
78 aur 31 ka comparison:
78 aur 33 ka comparison:
78 aur 78 ka comparison:
78 aur 32 ka comparison:
78 aur 78 ka comparison:
34 aur 32 ka comparison:
34 aur 31 ka comparison:
34 aur 33 ka comparison:
34 aur 78 ka comparison:
34 aur 32 ka comparison:
34 aur 78 ka comparison:
32 aur 31 ka comparison:
32 aur 33 ka comparison:
32 aur 78 ka comparison:
32 aur 32 ka comparison:
32 aur 78 ka comparison:
31 aur 33 ka comparison:
31 aur 78 ka comparison:
31 aur 32 ka comparison:
31 aur 78 ka comparison:
33 aur 78 ka comparison:
33 aur 32 ka comparison:
33 aur 78 ka comparison:
78 aur 32 ka comparison:
78 aur 78 ka comparison:
32 aur 78 ka comparison: