In [1]:
#Python  /Topic/  Function

In [2]:
def info():
    print("Ghost")
info()

Ghost

In [4]:
def sum_three(a,b,c):
    print(a+b+c)
sum_three(20,30,40)
sum_three(30,40,50)

90
120

In [7]:
def sum_three(a=5,b=5,c=8):
    print(a+b+c)
sum_three()

18

In [10]:
def sum_Three(a=5,b,c=9):
    sum = a+b+c
    print(sum)
sum_three(a,54,c)

SyntaxError: parameter without a default follows parameter with a default (3049542640.py, line 1)

In [11]:
#Argument // 
#1.Positiona agrument, 
def information (name, age, ht):
    print(name,age,ht)
information("gulsan",28, 170.5)

gulsan 28 170.5

In [15]:
def information (name, age, ht):
    print(f"Hellow my name is {name},also my age is {age}, and my ht is {ht}")
name = input("Enter ur Nane")
age=int(input("Enter your age"))
ht=float(input("Enter ht"))

information(name,age,ht)

Enter ur Nane aja
Enter your age 24
Enter ht 4.5

Hellow my name is aja,also my age is 24, and my ht is 4.5

In [16]:
#2.Keyword Argument
def inform(name,age,ht):
    print(f"Hello my name is {name},also my age is {age},and my ht is {ht}")
inform(age=27,ht=3.4,name="ajay")

Hello my name is ajay,also my age is 27,and my ht is 3.4

In [18]:
def print_num(s):
    for i in s:
        print(i)
print_num("rohan","56")

TypeError: print_num() takes 1 positional argument but 2 were given

In [20]:
# Star Args arbertart args 
def print_num(*s):
    for i in s:
        print(i)
print_num("rohan","56")
print_num("rohan","56",354,2.4)

rohan
56
rohan
56
354
2.4

In [22]:
#
def info(**s):
    print(s)
info(name="Jay",ht=23.5, age =32, add="UP")
info(name="KOT",ht=3.5, age =42, add="UPR")

{'name': 'Jay', 'ht': 23.5, 'age': 32, 'add': 'UP'}
{'name': 'KOT', 'ht': 3.5, 'age': 42, 'add': 'UPR'}

In [26]:
   
def sum_list(d):
    sum =0
    for i in d:
        sum =sum + i 
    print(sum)
sum_list([45,89,90,23])

247

In [29]:
# wap to print cubic root of integer and sqroot of str in which integer is store from a lsit using function
# e = ["45","67",23,90,21,12,34,"43","657",87]


def cube_list(lst):
    for item in lst:
        if isinstance(item, int):   # Integer → Cube root
            print(f"Cubic root of {item} = {round(item ** (1/3), 3)}")
        elif isinstance(item, str): # String → Square root
            num = int(item)
            print(f"Square root of {item} = {round(math.sqrt(num), 3)}")

# Given list
e = ["45","67",23,90,21,12,34,"43","657",87]

# Call the function
cube_list(e)

NameError: name 'math' is not defined

In [31]:
# wap to print cubic root of integer and sqroot of str in which integer is store from a lsit using function
# e = 
def cubic_sq_root_int_str(e):
    cubic=[]
    sqroot=[]
    for i in e:
        if type(i)==int:
            cubic.append(i**0.33)
        else:
            sqroot.append(int(i)**0.5)
    print(cubic,sqroot)
cubic_sq_root_int_str(["45","67",23,90,21,12,34,"43","657",87])

[2.8142986728854633, 4.4146881228468535, 2.7310670795288075, 2.2705434189009517, 3.2017546034771835, 4.365573990994484] [6.708203932499369, 8.18535277187245, 6.557438524302, 25.632011235952593]

In [32]:
#Wap to print counting of each n every characater from a strin using dictionary n fucntion 
# Function to count characters
def char_count(s):
    d = {}  # empty dictionary
    for ch in s:
        if ch in d:
            d[ch] += 1   # increment count if already present
        else:
            d[ch] = 1    # add new character with count 1
    return d

# Example string
text = "hello world"

# Call the function
result = char_count(text)

# Print result
print("Character counts:")
for k, v in result.items():
    print(f"{k} : {v}")

Character counts:
h : 1
e : 1
l : 3
o : 2
  : 1
w : 1
r : 1
d : 1

In [33]:
def count_ch(s):
    dicts={}
    for i in s :
        dicts[i]=s.count(i)
    print(dicts)
count_ch("tanmay")

{'t': 1, 'a': 2, 'n': 1, 'm': 1, 'y': 1}

In [36]:
# s=["455558","3445","56","55","98","12","44"]
# sum >>odd >>cube
# even >>sq
# using function
def count_ch(s):
    odd={}
    even={}
    for i in s:
        sum= 0
        s= int(s)
        odd=s//2
    print(odd ,"number")
count_ch(["455558","3445","56","55","98","12","44"])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'